.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.svg-key {
  position: fixed;
  top: 0;
  background-color: rgba(255,255,255,.8);
  font-size: 14px;
  border-radius: 5px;
}

button {
  border: none;
  background-color: lightslategrey;
  color: white;
  transition-duration: 0.2s;
  border-radius: 5px;
}

input {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

button:hover {
  background-color: skyblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home-group {
  margin-top: 20%;
}

.wrapper {
  margin-left: 25%;
  margin-top: 25%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
