.edge{
    stroke: black;
    stroke-width: .5;
}

.hidden-edge{
    opacity:0;
}

.active-edge{
    stroke:var(--active-color);
}

.parent-edge{
    stroke:var(--parent-color);
    stroke-width: 2;
}

.child-edge{
    stroke:var(--child-color);
    stroke-width: 1;
}