.label-underlay{
    stroke: white;
    stroke-width: .1em;
}

.active-label{
    stroke: var(--active-color);
    stroke-width: .3em;
}

.parent-label{
    stroke: var(--parent-color);
    stroke-width: .3em;
}

.child-label{
    stroke: var(--child-color);
    stroke-width: .3em;
}