.node{
    fill: var(--node-color);
    stroke: var(--background-color);
    stroke-width: .15em;
}

.hidden-node{
    opacity: 0
}

.preview-fill{
    stroke: white;
    fill: white!important;
    stroke-width: .1em;
    font-size: 18px;
}

.preview-underlay{
    stroke: var(--active-color);
    stroke-width: .3em;
    font-size: 18px;
}

.active-node{
    fill:var(--active-color);
    cursor: pointer;
    position: relative;
    stroke: var(--background-color);
    stroke-width: .1em;
}

.parent-node{
    fill:var(--parent-color);
    stroke: var(--background-color);
    stroke-width: .1em;
}

.child-node{
    fill:var(--child-color);
    stroke: var(--background-color);
    stroke-width: .1em;
}