.node{
    fill: lightslategrey;
}

.hidden-node{
    opacity: 0
}

.node-active{
    fill:cadetblue;
    cursor: pointer;
    position: relative;
}

.node-parent{
    fill:slateblue;
}

.node-child{
    fill:steelblue;
}