.node{
    fill: lightslategrey;
}

.hidden-node{
    opacity: 0
}

.preview-fill{
    stroke: white;
    fill: white!important;
    stroke-width: .1em;
}

.preview-underlay{
    stroke: var(--active-color);
    stroke-width: .3em
}

.active-node{
    fill:var(--active-color);
    cursor: pointer;
    position: relative;
}

.parent-node{
    fill:var(--parent-color);
}

.child-node{
    fill:var(--child-color);
}